*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5% !important;
  height: 100%; }

body {
  font-family: 'Lato', sans-serif; }

.wrapper {
  position: relative;
  background: url(../img/pexels-photo-917494.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; }

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      width: 90%; } }

ul li {
  list-style: none;
  display: flex;
  justify-content: space-between; }

.form {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.856);
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .form-country, .form-city {
    margin: 15px 0;
    width: 100%;
    max-width: 300px;
    border: 2px solid #F3F3F3;
    padding: 15px 25px;
    border-radius: 25px;
    outline: none;
    box-shadow: 12.622px 12.829px 114px 0px rgba(48, 52, 73, 0.13); }
  .form-btn {
    color: #fff;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.281);
    width: 100%;
    max-width: 300px;
    padding: 15px 25px;
    border: none;
    text-transform: uppercase;
    box-shadow: 12.622px 12.829px 114px 0px rgba(48, 52, 73, 0.13); }
    .form-btn--cancel {
      background-color: rgba(255, 0, 0, 0.582);
      margin: 15px 0; }

.weather {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  align-items: center; }
  @media (max-width: 992px) {
    .weather {
      flex-direction: column; } }
  .weather__current {
    display: flex;
    justify-content: center;
    align-items: center; }
    .weather__current-box {
      color: white;
      animation-name: fromLeft;
      animation-duration: 1s;
      background: #5555559d;
      padding: 35px;
      display: flex;
      flex-direction: column;
      text-align: center;
      border-radius: 4px;
      width: 100%;
      max-height: 425px;
      margin: 0 auto;
      box-shadow: 12.622px 12.829px 114px 0px rgba(48, 52, 73, 0.13); }
      .weather__current-box .city {
        font-size: 60px;
        font-weight: 400; }
      .weather__current-box .country {
        font-size: 35px;
        font-weight: normal;
        margin-bottom: 15px; }
      .weather__current-box .desc {
        font-size: 25px; }
      .weather__current-box ul {
        text-align: left;
        margin-top: 20px; }
        .weather__current-box ul li {
          font-size: 20px;
          text-transform: capitalize;
          padding: 5px 0;
          font-weight: bold; }
  .weather__forcast-box {
    animation-name: fromLeft;
    animation-duration: 1s;
    color: white;
    margin: 15px 20px;
    padding: 25px;
    background: #5555559d;
    border: 2px solid #F3F3F3;
    border-radius: 2px;
    outline: none;
    font-size: 18px; }
    .weather__forcast-box ul li {
      padding: 5px 0; }

.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
  background: turquoise;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: pulsate 1.5s infinite; }

.fa-cloud {
  font-size: 26px;
  color: #7fb6ff; }

.fa-search {
  font-size: 25px;
  color: white; }

.fa-times {
  position: absolute;
  top: 0;
  right: 0;
  color: white; }

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0.0; } }
