nav {
    background: transparent;
    box-shadow: none;
    height: 90px;
    li a {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0 25px;
    }
    .nav-wrapper {
        line-height: 114px;
    }
}