//colors
$color-primary: coral;
$color-black:#000;
$color-dark-grey:#161616;
$color-dark-grey-2:#333;
$color-dark-grey-font:#949494;
$color-light-font:#fff;
$color-white:#0cfcfc;
$color-gradient-one: #0cfcfc;
$color-gradient-two: #ee0b0b;
$color-background-light-grey:#fafafa;
$color-background-light-grey-2:#eee;
//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
//font-size
$default-font-size: 1.6rem