.header {
    background: url(../img/background-head.png);
    height: 95vh;
    min-height: 900px;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    border-radius: 4px;
    border: none;
    @media (max-width: 576px) {
        min-height: 0;
        height: 100vh;
    }
}

.iphone-head {
    transform: translateY(135px);
    margin-right: -35px;
    height: 950px;
    @media (max-width: 1199.98px) {
        height: 750px;
    }
}