.pricing {
    padding: 100px 0;
    background: url(../img/RectangleCopy5.png);
    margin: 0 -20px;
    background-size: cover;
    background-position: center;
    @media (max-width: 992px) {
        margin: 0;
        padding-top: 35px;
    }
    &__box {
        border-radius: 4px;
        max-width: 345px;
        height: 425px;
        margin: 0 auto;
        &--active {
            box-shadow: 12.622px 12.829px 114px 0px rgba(48, 52, 73, 0.13);
        }
    }
    &__price {
        color: #404355;
        font-size: 50px;
        &--active {
            color: #ff6866;
        }
    }
    &__period {
        color: #1e3bb2;
        font-size: 9px;
        transform: translateY(-20px);
    }
}