.portfolio__item {
    padding: 90px 0 0 0;
    background: #f6f6f6;
    margin-top: 80px;
    .mb-5 {
        margin-bottom: 4rem!important;
    }
    &-heading {
        font-family: 'Playfair Display';
        font-size: 38px;
        font-weight: bold;
        color: #171717;
    }
    &-text {
        color: #5f5f5f;
        font-size: 15px;
    }
}