@font-face {
    font-family: 'light';
    src: url(CoreSansD25Light.otf) format('opentype');
}

@font-face {
    font-family: 'regular';
    src: url(font/CoreSansD35Regular.otf) format('opentype');
}

@font-face {
    font-family: 'bold';
    src: url(font/CoreSansD55Bold.otf) format('opentype');
}

@font-face {
    font-family: 'medium';
    src: url(font/CoreSansD45Medium.otf) format('opentype');
}