.map {
    background-image: linear-gradient( 0deg, $color-blueish-2 0%, $color-blueish-cta-2 100%);
    min-height: 900px;
    padding: 80px 0;
    text-align: center;
    @media(max-width: 1000px) {
        min-height: 0;
        padding-right: 15px;
        padding-left: 15px;
    }
    &__header {
        font-size: 5.2rem;
        color: $color-white;
        font-weight: 400;
    }
    &__desc {
        color: $color-blueish-lighter;
        max-width: 750px;
        margin: 0 auto;
        font-size: 1.8rem;
        padding: 30px 0;
    }
    &__users {
        font-size: 52px;
        color: $color-green;
    }
    &__wrapper {
        position: relative;
        max-width: 1600px;
        min-height: 900px;
        margin: 0 auto;
        @media(max-width: 1600px) {
            max-width: 1000px;
        }
        @media(max-width: 1000px) {
            max-width: 700px;
            margin-top: -150px;
        }
        @media(max-width: 700px) {
            display: none;
        }
    }
    &-img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        opacity: 0.3;
    }
    &__dot {
        border-radius: 50%;
        background-image: linear-gradient( -135deg, $color-green-1 0%, $color-green-2 100%);
        box-shadow: 0px 2px 9px 0px $color-green-shadow;
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: 1000;
        transition: all .5s;
        animation: pulsate 2s infinite;
        &:hover .map__dot-tooltip {
            right: -45px;
            opacity: 1;
            z-index: 10000000;
        }
        @media(max-width: 1000px) {
            width: 6px;
            height: 6px;
        }
        &--hover {
            &:hover {
                border-radius: 50%;
                background-image: linear-gradient( -135deg, $color-green-1 0%, $color-green-2 100%);
                box-shadow: 0px 2px 9px 0px $color-green-shadow;
                animation: none;
                opacity: 1;
                width: 15px;
                height: 15px;
            }
        }
        &-1 {
            top: 45%;
            left: 47.1%;
            opacity: 1;
            animation: pulsate 3s infinite;
            @media(max-width: 1600px) {
                top: 45.9%;
                left: 46.5%;
            }
            @media(max-width: 1000px) {
                top: 46.9%;
            }
        }
        &-2 {
            top: 50%;
            left: 31.8%;
            animation: pulsate 4s infinite;
            @media(max-width: 1600px) {
                left: 25%;
            }
        }
        &-3 {
            top: 45.9%;
            left: 50%;
            animation: pulsate 3.5s infinite;
            @media(max-width: 1600px) {
                top: 49.4%;
                left: 50.4%;
            }
        }
        &-4 {
            top: 52.2%;
            left: 23%;
            animation: pulsate 3s infinite;
            @media(max-width: 1600px) {
                top: 51.7%;
                left: 12.9%;
            }
            @media(max-width: 1000px) {
                top: 50.9%;
            }
        }
        &-5 {
            top: 55.4%;
            left: 72.4%;
            animation: pulsate 2s infinite;
            @media(max-width: 1600px) {
                top: 54.9%;
                left: 81.1%;
            }
            @media(max-width: 1000px) {
                top: 53.3%;
                left: 81.1%;
            }
        }
        &-6 {
            top: 80.4%;
            left: 75.3%;
            animation: pulsate 3s infinite;
            @media(max-width: 1600px) {
                top: 76.4%;
                left: 85.1%;
            }
            @media(max-width: 1000px) {
                top: 68.5%;
            }
        }
        &-7 {
            top: 62.6%;
            left: 68.8%;
            animation: pulsate 2.5s infinite;
            @media(max-width: 1600px) {
                top: 61.1%;
                left: 76.2%;
            }
            @media(max-width: 1000px) {
                top: 57.9%;
                left: 76.2%;
            }
        }
        &-8 {
            top: 49.2%;
            left: 76.5%;
            animation: pulsate 3.5s infinite;
            @media(max-width: 1600px) {
                top: 49.4%;
                left: 86.7%;
            }
            @media(max-width: 1000px) {
                top: 49.6%;
            }
        }
        &-9 {
            top: 42.8%;
            left: 75.3%;
            animation: pulsate 5s infinite;
            @media(max-width: 1600px) {
                top: 44.2%;
                left: 85.1%;
            }
            @media(max-width: 1000px) {
                top: 46%;
                left: 85.2%;
            }
        }
        &-10 {
            top: 79.4%;
            left: 37.1%;
            animation: pulsate 2.5s infinite;
            @media(max-width: 1600px) {
                top: 76.4%;
                left: 31.9%;
            }
            @media(max-width: 1000px) {
                top: 68.5%;
            }
        }
        &-11 {
            top: 67.9%;
            left: 37.1%;
            animation: pulsate 3s infinite;
            @media(max-width: 1600px) {
                top: 65.5%;
                left: 32.7%;
            }
            @media(max-width: 1000px) {
                top: 61%;
            }
        }
        &-12 {
            top: 60.5%;
            left: 44.7%;
            animation: pulsate 3s infinite;
            @media(max-width: 1600px) {
                top: 65.5%;
                left: 32.7%;
            }
            @media(max-width: 1000px) {
                top: 61%;
            }
        }
        &-13 {
            top: 40.8%;
            left: 56.5%;
            animation: pulsate 3s infinite;
            @media(max-width: 1600px) {
                top: 42.1%;
                left: 58.8%;
            }
            @media(max-width: 1000px) {
                top: 61%;
            }
        }
        &-tooltip {
            position: absolute;
            top: -16px;
            border-width: 1px;
            border-style: solid;
            border-radius: 2px;
            border-color: $color-green;
            min-width: 125px;
            min-height: 54px;
            margin-right: -95px;
            padding: 10px;
            color: #fff;
            background-color: $color-blueish;
            opacity: 0;
            text-transform: uppercase;
            font-size: 12px;
            text-align: center;
            transition: all .5s;
        }
    }
}

.tooltip-users {
    color: $color-green;
    font-size: 14px;
}