.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    @media (max-width: 1000px) {
        flex-direction: column;
    }
}