//Colors
$color-white: #fff;
$color-black: #000;
$color-grey-light: #f2f3f6;
$color-grey-shadow: rgba(124, 124, 124, 0.281);
//Green (Buttons + sections + text)
$color-green:#52ce65;
$color-green-1: rgb(68, 194, 108);
$color-green-2: rgb(100, 221, 91);
$color-green-shadow: rgba(70, 195, 105, 0.51);
//Blue (Buttons)
$color-blue: #28cdec;
$color-blue-shadow: rgba(40, 205, 236, 0.478);
//Blueish Font + Buttons + sections
$color-blueish: #282d47;
$color-blueish-2: rgb(40, 45, 71);
$color-blueish-lighter:#71789b;
$color-blueish-lightest: #B6BDD8;
$color-blueish-shadow: rgba(40, 45, 71, 0.169);
$color-blueish-shadow-2: rgba(22, 27, 49, 0.15);
//CTA darkblue background
$color-blueish-cta-1:rgb(40, 45, 71);
$color-blueish-cta-2: rgb(52, 59, 92);
//Footer
$footer-color-1:#313758;
$footer-color-2: #121526;
//Fonts
$default-font-size: 62.5%;
$primary-heading: 5.2rem;
$primary-desc: 1.8rem;
$secondary-desc: 1.6rem;